.skills-grid,
.software-grid {
    position: relative;

    padding: var(--spacing-lg) var(--spacing-md);

    background-color: var(--color-secondary);

    border: 1px solid var(--color-accent-glow-soft);

    box-shadow:
        0 0 8px var(--color-accent-glow-soft),
        inset 0 0 15px var(--color-accent-glow-soft);

    /* Ligne lumineuse supérieure */
    &::before {
        content: '';

        position: absolute;
        top: -1px;
        left: 50%;

        width: 30%;
        height: 2px;

        background-color: var(--color-accent);

        transform: translateX(-50%);

        box-shadow:
            0 0 5px var(--color-accent),
            0 0 10px var(--color-accent-glow);
    }
}
