.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;
    height: 70px;

    color: var(--color-neutral);
    background-color: transparent;

    border: 1px solid var(--color-accent);

    clip-path: polygon(
        10px 0,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 10px) 100%,
        0 100%,
        0 10px
    );

    transition:
        color 0.3s $ease-out-cubic,
        background-color 0.3s $ease-out-cubic,
        box-shadow 0.3s $ease-out-cubic;

    .icon {
        transition: transform 0.3s $ease-out-cubic;
    }

    &:hover {
        background-color: var(--color-accent);
        color: var(--color-secondary);

        box-shadow:
            0 0 8px rgba(54, 218, 255, 0.4),
            inset 0 0 10px rgba(54, 218, 255, 0.15);

        .icon {
            transform: scale(1.1);
        }
    }
}
