/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

// colors.scss

:root {
    --color-white: #fff;
    --color-black: #000;

    --color-primary: #0c0e1f;
    --color-secondary: #030319;
    --color-accent: #36daff;
    --color-surface: #232824;
    --color-neutral: #f6f5f9;

    // Effets
    --color-accent-glow: #1da9c9;
    --color-accent-glow-soft: #12546a;
}
