/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleurs de base
    --color-white: #fff;
    --color-black: #000;

    // Palette du portfolio
    --color-primary: #0c0e1f;
    --color-secondary: #030319;
    --color-accent: #36daff;
    --color-surface: #232824;
    --color-neutral: #f6f5f9;
}
