/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #f25102;
    --color-bg-primary: #e2e2e2;
    --color-bg-secondary: #eeeeee;
    --color-secondary: #46423e;
    --color-font-primary: #1e1e1e;
    --color-font-secondary: #585858;
    --color-text-footer: #dfdfdf;
    --color-separator: #afafaf;
    --color-border: #cecece;
    
}
