/* ==========================================================================
   DIMENSIONS / SETTINGS
   ========================================================================== */

// Valeurs utilisées pour les médias query
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1096px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1920px;

:root {
    --spacing-xs: 5px;
    --spacing-sm-plus: 12px;
    --spacing-sm: 15px;
    --spacing-base: 20px;
    --spacing-md-plus: 25px;
    --spacing-md: 30px;
    --spacing-lg-plus: 60px;
    --spacing-lg: 50px;
    --spacing-xl-plus: 70px;
    --spacing-xl: 150px;
    --spacing-xxl: 220px;
    --spacing-separator: 80px;
}
